doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fonts/Kanit/fonts.css')
    link(rel='stylesheet', href='/core/css/bootstrap.min.css')
    link(rel='stylesheet', href='/core/css/all.css')
    script(src="/core/jquery.min.js")
    script(src="/core/js/bootstrap.bundle.min.js")

  body
    include partials/header
    block content
    include partials/script