img.brand_site {
  width: 4rem;
}

* {
  font-family: Kanit;
}

body {
  background-color: #191d20 !important;
}

.text_main {
  color: #cdcdcd !important;
  text-decoration: none;
}

.container.main_content {
  margin-top: 4rem;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #292d32;
}
::-webkit-scrollbar-thumb {
  background: #1e2226;
}
::-webkit-scrollbar-thumb:hover {
  background: #181b1f;
}

img.w-100 {
  height: 20rem;
  object-fit: cover;
}

.line_break {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title_card {
  color: #cdcdcd !important;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.btn-main {
  background-color: #3a3b3c !important;
  border-color: #3a3b3c !important;
  color: #cdcdcd !important;
}

.btn-main:focus, .btn-main:active {
  box-shadow: 0 0 0 0.25rem rgb(60 60 60 / 50%) !important;
}

.device_detect_icon {
  padding-left: 0.2rem !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.bg-dark li {
  background-color: #212529;
  color: #cdcdcd !important;
}